/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Post and page content
	# Alignments
	# Blocks
	# Custom block colors
	# Media
		# Captions
		# Galleries
	# Comments
# Categories & Archives
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Post and page content
--------------------------------------------------------------*/
/* Custom rule  for sticky posts:
.sticky {

}
*/

.page-header {
	max-width: 75rem;
	margin: 0 auto;
}

.hentry {
	margin-bottom: 1rem;
}

.single .hentry,
.page .hentry,
.comments-area {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 2rem;
	max-width: 1000px;
	margin: 0 auto;
}

.page-section {
	max-width: 75rem;
	margin: 0 auto;
}

.entry-header {
	grid-column: span 2;
}

.entry-header .post-cats {
	margin-bottom: 0.5rem;
}

.entry-header .entry-excerpt {
	font-size: 120%;
}

.entry-meta,
.entry-footer {
	font-family: var(--highlight-font-family);
	font-size: 80%;
}

.entry-meta span {
	display: block;
}

.entry-meta a {
	text-decoration: none;
}

.entry-meta .byline {
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.post-thumbnail {
	margin: 2rem 0;
}

.post-thumbnail img {
	margin: 0 auto;
	grid-column: span 2;
	width: 100%;
	position: relative;
}

.post-thumbnail-link {
	position: absolute;
	width: 100%;
	height: 100%;
}

.post-thumbnail .post-edit-link {
	position: absolute;
	display: block;
	right: 1rem;
	bottom: 1rem;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 25px;
	padding: 0px 20px;
	font-size: 0.8rem;
	background: rgba(0,0,0,0.5);
}

.placeholder {
	width: 100%;
	height: 150px;
	background: var(--gaya-teal-dk);
	background-size: cover;
	background-position: center;
}

.page-content,
.entry-content,
.entry-summary,
.entry-meta,
.child-page-menu {
	margin: 1.5rem 0 0;
	overflow: hidden;
	word-wrap: break-word;
}

.page .entry-content {
	grid-column: 2;
}

.child-page-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

.child-page-menu .children {
	list-style: none;
	margin-left: 1rem;
}

.page-content > *,
.entry-content > *,
.entry-summary > *,
.not-found > * {
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	padding-right: 24px;
	padding-right: 1.5rem;
	padding-left: 24px;
	padding-left: 1.5rem;
	max-width: calc(var(--content-width) * 16)px; /* Fallback for older browsers. */
	max-width: var(--content-width)rem;
}

.page-title,
/* .entry-header, */
.entry-footer,
.author-box,
.site-info,
.page-navigation,
/* .comments-area */
{
	margin: 1.5em auto;
	padding-right: 24px;
	padding-right: 1.5rem;
	padding-left: 24px;
	padding-left: 1.5rem;
	max-width: calc(var(--content-width) * 16)px; /* Fallback for older browsers. */
	max-width: var(--content-width)rem;
}

@media (--content-query) {
	.page-content > *,
	.entry-content > *,
	.entry-summary > *,
	.page-title,
	.entry-header,
	.entry-footer,
	.author-box,
	.site-info,
	.post-navigation,
	.page-navigation,
	.comments-area {
		padding-left: 0px;
		padding-right: 0px;
	}

	.author-box,
	.comments-section {
		max-width: calc(var(--content-width) * 16)px; /* Fallback for older browsers. */
		max-width: var(--content-width)rem;
		margin: 0 auto;
	}

	.jp-relatedposts-grid {
		max-width: calc(var(--content-width) * 16)px; /* Fallback for older browsers. */
		max-width: var(--content-width)rem;
		margin-left: auto;
		margin-right: auto;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-links a {
	padding: 0.25rem 0.5rem;
	border: 1px solid gainsboro;
}

.cat-links {
	font-size: 0.7rem;
	letter-spacing: 1px;
	line-height: 1.5;
	display: block;
}

.cat-links a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--global-header-color);
}

.tags-links {
	display: flex;
	flex-wrap: wrap;
	margin-right: 1rem;
}

.tags-links a {
	display: table;
	padding: 2px 16px;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 0.7rem;
	text-decoration: none;
	color: var(--global-header-color);
	margin-right: 4px;
	margin-bottom: 6px;
	border: 2px solid var(--gaya-grey5);
	border-radius: 24px;
}

.tags-links a:before{
	content: '#';
}

.entry-footer span {
	margin-right: 1em;
}

.entry-footer {
	clear: both;
	padding: 1.5em 1.5rem 3em;
	border-bottom: 1px solid #111;
}

@media (--content-query) {
	.entry-footer {
		padding-right: 0;
		padding-left: 0;
	}
}

.author-box a {
	text-decoration: none;
	color: var(--global-header-color);
}

.author-box .author-name {
	margin-top: 0;
}

.author-box .author-description {
	font-size: 0.8rem;
}

.post-navigation-container {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 1rem 4rem;
	bottom: -10rem;
	left: 0;
	background: white;
	border-top: 1px solid var(--border-main-color);
	z-index: 10;
	line-height: 1.4;
	transition: all 0.5s;
}

.post-navigation-container.active {
	bottom: 0;
}

.post-navigation-sub {
	text-align: left;
}

.post-navigation {
	margin: 0rem 0;
}

.post-navigation a {
	text-decoration: none;
}

.post-navigation .post-title {
	margin-top: 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-size: 1.2rem;
}

.post-navigation .post-excerpt {
	font-size: 0.8rem;
	opacity: 0.8;
	text-align: left;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.post-navigation .nav-previous {
	padding-right: 1rem;
}

.post-navigation .nav-next {
	padding-left: 1rem;
}

.post-password-required .entry-content {
	background: black;
	color: white;
	padding: 9rem 2rem 1rem;
	position: relative;
}

.post-password-required .entry-content:before {
	position: absolute;
	content: "\f023";
	font-size: 4rem;
	text-align: center;
	font-family: FontAwesome;
	top: 2rem;
	left: 50%;
	transform: translateX(-50%);
	border: 3px solid white;
	width: 100px;
	height: 100px;
	padding: 0;
	line-height: 1.5;
	border-radius: 50%;
}

/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
	margin-right: 1.5rem;
}

.alignright {
	float: right;
	margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (--content-query) {

	.wp-caption.alignright,
	.wp-block-image.alignright {
		/* margin-right: calc((100% - calc(var(--content-width) * 16)px) / 2);
		margin-right: calc((100% - var(--content-width)rem) / 2); */
	}

	.wp-caption.alignleft,
	.wp-block-image.alignleft {
		/* margin-left: calc((100% - calc(var(--content-width) * 16)px) / 2);
		margin-left: calc((100% - var(--content-width)rem) / 2); */
	}

}

img.alignnone,
img.aligncenter {
	width: 100%;
}

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/
/*
 * Available block selectors:

 * .wp-block-image
 * .wp-block-gallery
 * .wp-block-video
 * .wp-block-quote
 * .wp-block-text-columns
 * .wp-block-cover-text
 * .wp-block-button
 * .wp-block-gallery
 * .wp-block-table
 * .wp-block-embed
 * .wp-block-audio
 * .wp-block-pullquote
 * .wp-block-preformatted
 * .wp-block-code
 * .wp-block-verse

 */

 .wp-block-quote {
	 padding-left: 1em;
	 border-left: 4px solid black;
 }

 .wp-block-quote cite, .wp-block-quote footer {
	display: block;
	color: hsl(0, 0%, 40%);
}

.wp-block-quote.is-large {
	margin: 1.5em auto;
}

.wp-block-quote.is-large p {
	margin-bottom: .75em;
	font-size: 1.6em;
	line-height: 1.25;
}

.wp-block-quote.is-large cite {
	font-size: 1.2em;
}

.entry-content ul,
.entry-content ol {
	padding-right: 2.5em;
	padding-left: 2.5em;
}

.entry-content ul ul,
.entry-content ol ol {
	margin-right: 0;
	margin-left: 0;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.wp-block-video video {
	max-width: var(--content-width)rem;
}

.alignwide {
	max-width: calc(50% + var(--content-width)rem / 2);
}

.alignfull {
	max-width: 100%;
	padding: 0;
}

.wp-block-image img {
	display: block;
}

.wp-block-cover-text p {
	padding: 1.5em 1.5em;
}

@media (--content-query) {
	.wp-block-cover-text p {
		padding: 1.5em 0;
	}

	.entry-content pre {
		padding: 1.5em;
	}
}

.wp-block-columns {
	grid-column-gap: 1em;
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
	padding: 0 1.5em;
}

.wp-block-table {
	display: block;
	overflow-x: auto;
}

.wp-block-table table {
	border-collapse: collapse;
	width: 100%
}

.wp-block-table td, .wp-block-table th {
	padding: .5em;
}

.entry-content li {
	list-style-position: outside;
}

/* Responsive video embed magic stuff: */
.wp-block-embed.type-video > .wp-block-embed__wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.wp-block-separator {
	margin-top: 4em;
	margin-bottom: 4em;
	width: 5em;
}

/*--------------------------------------------------------------
## Custom block colors.
--------------------------------------------------------------*/

.has-dusty-orange-color,
.has-dusty-orange-color a {
	color: #ED8F5B;
}

.has-dusty-orange-background-color {
	background-color: #ED8F5B;
}

.has-dusty-red-color,
.has-dusty-red-color a {
	color: #E36D60;
}

.has-dusty-red-background-color {
	background-color: #E36D60;
}

.has-dusty-wine-color,
.has-dusty-wine-color a {
	color: #9C4368;
}

.has-dusty-wine-background-color {
	background-color: #9C4368;
}

.has-dark-sunset-color,
.has-dark-sunset-color a {
	color: #33223B;
}

.has-dark-sunset-background-color {
	background-color: #33223B;
}

.has-almost-black-color,
.has-almost-black-color a {
	color: #0A1C28;
}

.has-almost-black-background-color {
	background-color: #0A1C28;
}

.has-dusty-water-color,
.has-dusty-water-color a {
	color: #41848F;
}

.has-dusty-water-background-color {
	background-color: #41848F;
}

.has-dusty-sky-color,
.has-dusty-sky-color a {
	color: #72A7A3;
}

.has-dusty-sky-background-color {
	background-color: #72A7A3;
}

.has-dusty-daylight-color,
.has-dusty-daylight-color a {
	color: #97C0B7;
}

.has-dusty-daylight-background-color {
	background-color: #97C0B7;
}

.has-dusty-sun-color,
.has-dusty-sun-color a {
	color: #EEE9D1;
}

.has-dusty-sun-background-color {
	background-color: #EEE9D1;
}

/*--------------------------------------------------------------
## Custom block font sizes.
--------------------------------------------------------------*/

.has-small-font-size {
	font-size: var(--small-font-size)px;
	font-size: calc(var(--small-font-size) / 16)rem;
}

.has-regular-font-size {
	font-size: var(--regular-font-size)px;
	font-size: calc(var(--regular-font-size) / 16)rem;
}

.has-large-font-size {
	font-size: var(--large-font-size)px;
	font-size: calc(var(--large-font-size) / 16)rem;
}

.has-larger-font-size {
	font-size: var(--larger-font-size)px;
	font-size: calc(var(--larger-font-size) / 16)rem;
}

/*--------------------------------------------------------------
## Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
	width: 100%;
}

/*--------------------------------------------------------------
### Captions
--------------------------------------------------------------*/
.wp-caption {
	/* margin-bottom: 1.5em; */
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 5px 0;
}

.wp-caption-text {
	text-align: center;
	font-size: 0.8rem;
	opacity: 0.8;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

/*--------------------------------------------------------------
### Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}

/* Override standard ul indentation. */

.entry-content .wp-block-gallery {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

@media screen and (min-width: 48em) {
	.entry-content .wp-block-gallery {
		padding-right: 0;
		padding-left: 0;
	}
}

.wp-block-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: .5em;
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	grid-column: span 1;
	margin: 0;
	width: inherit;
}


.blocks-gallery-item:last-child:nth-child(odd) {
	grid-column: span 2;
}

@media screen and (min-width: 40em) {
	.wp-block-gallery.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.wp-block-gallery.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-gallery.columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.wp-block-gallery.columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.wp-block-gallery.columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.wp-block-gallery.columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.wp-block-gallery.columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.wp-block-gallery.columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}

/*--------------------------------------------------------------
### Galleries (Legacy)
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: .5em;
}

@media screen and (min-width: 40em) {
	.gallery-columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.gallery-columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.gallery-columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.gallery-columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.gallery-columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.gallery-columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.gallery-columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.gallery-columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}

.gallery-item {
	padding: .5em;
	border: 1px solid rgb(222, 222, 222);
}

.gallery-icon {
	display: flex;
	justify-content: center;
}

.gallery-caption {
	font-size: 80%;
}

/**
 * Jetpack Related Posts
 */
.jp-relatedposts {
	grid-column: span 2;
	display: grid!important;
	grid-template-columns: 1fr 5fr;
	grid-gap: 2rem;
	margin-bottom: 2rem;
}

.jp-relatedposts-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
}

.jp-relatedposts-post-a div,
.jp-relatedposts-post-a img {
	width: 100%!important;
}

.jp-relatedposts-post-excerpt,
.jp-relatedposts-post-date,
.jp-relatedposts-post-context {
	font-size: 0.8rem;
	margin: 0;
}

.jp-sharing-input-touch .sd-content ul li {
	padding-left: 0px;
}

#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
	width: 100%;
}

#jp-relatedposts h3.jp-relatedposts-headline em:before {
	display: none;
}

.akismet_comment_form_privacy_notice {
	font-size: 0.8rem;
	opacity: 0.8;
}

/*--------------------------------------------------------------
# Categories & Archives
--------------------------------------------------------------*/
h3.category-title {
	margin-top: 4rem;
}

h3.category-title.all-categories {
	margin-top: 2rem;
}

ul.archive-posts-grid {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	max-width: 75rem;
}

/* Author Pages */
.author-page-section {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 2rem;
}

ul.author-posts-grid {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

.author-page-section .author-links {
	margin: 0;
	padding: 0;
	list-style: none;
}

.author-page-section .author-links li {
	display: inline-block;
	margin-right: 1rem;
}

.author-page-section .author-description > p {
	margin-top: 0;
}

.archive-posts-grid .entry-title,
.author-posts-grid .entry-title,
.search-posts-grid .entry-title {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: normal;
}

.archive-posts-grid .entry-title a,
.author-posts-grid .entry-title a,
.search-posts-grid .entry-title a {
	text-decoration: none;
	color: var(--global-header-color);
}

.archive-posts-grid .post-thumbnail,
.author-posts-grid .post-thumbnail,
.search-posts-grid .post-thumbnail {
	width: 100%;
	height: 150px;
	margin-bottom: 1rem;
	background-image: var(--gradient-teal);
	transition: all 0.5s;
	background-position: center;
	background-size: cover;
	position: relative;
}

.archive-posts-grid .post-thumbnail:hover,
.archive-posts-grid .post-thumbnail:active,
.archive-posts-grid .post-thumbnail:focus,
.author-posts-grid .post-thumbnail:hover,
.author-posts-grid .post-thumbnail:active,
.author-posts-grid .post-thumbnail:focus,
.search-posts-grid .post-thumbnail:hover,
.search-posts-grid .post-thumbnail:active,
.search-posts-grid .post-thumbnail:focus {
	box-shadow: var(--image-hover-shadow);
}

.archive-posts-grid .entry-content,
.author-posts-grid .entry-content,
.search-posts-grid .entry-content {
	font-size: 0.8rem;
	margin: 0;
}

.archive-posts-grid .entry-footer,
.author-posts-grid .entry-footer,
.search-posts-grid .entry-footer {
	border-bottom: 0;
	padding: 0;
}

.blog-categories {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0rem;
	margin-bottom: 2rem;
}

.blog-categories a {
	font-weight: 100;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 0;
	font-size: 0.8rem;
}

/* Search Posts Grid */
ul.search-posts-grid {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
}

.search-posts-grid .entry-header {
	margin-top: 1rem;
}

/*--------------------------------------------------------------
# Search & Archive Titles
--------------------------------------------------------------*/
.search .page-title,
.archive .page-title {
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 1px;
	line-height: 1.5;
	font-weight: 100;
}

.search .page-title span,
.archive .page-title span {
	font-size: 2.5rem;
	display: block;
	font-weight: bold;
	text-transform: capitalize;
}
