/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.dismiss-drawer {
	position: absolute;
	right: 4rem;
	top: 4rem;
	color: var(--gaya-grey4);
}

.primary-sidebar {
	padding: 1.5rem;
	font-family: var(--highlight-font-family);
}

@media (--sidebar-query) {
	.primary-sidebar {
		padding: 0;
	}
}

.footer-sidebar-1,
.footer-top-sidebar {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
	/* margin: 0 -4rem; */
	padding: 3rem 4rem;
	/* background: var(--global-font-color); */
	color: white;
}

.footer-sidebar-1 img,
.footer-top-sidebar img {
	max-width: 25%;
}

.footer-sidebar-2,
.footer-bottom-sidebar {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 2rem;
	/* margin: 0 -4rem; */
	padding: 2rem 0rem;
	max-width: 100%;
	overflow: hidden;
	/* background: var(--global-header-color); */
	color: white;
}

.footer-sidebar-2 img,
.footer-bottom-sidebar img {
	max-width: 20%;
}
