/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.dismiss-drawer {
	position: absolute;
	right: 3rem;
	top: 5rem;
	color: var(--gaya-grey4);
	cursor: pointer;
}

@media screen and (max-width: 60rem) {
	.dismiss-drawer {
		right: 2rem;
	}
}

.primary-sidebar {
	padding: 0rem;
	font-family: var(--highlight-font-family);
}

@media screen and (min-width: 60rem) {

	/* --sidebar-query */
	.primary-sidebar {
		padding: 0;
	}
}

.footer-top-sidebar {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
	/* margin: 0 -4rem; */
	/* padding: 3rem 4rem; */
	/* background: var(--global-font-color); */
	color: white;
}

.footer-sidebar-1 {
	max-width: 90rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
	padding-top: 4rem;
	/* margin: 0 -4rem; */
	/* padding: 3rem 4rem; */
	/* background: var(--global-font-color); */
	color: white;
}

@media screen and (max-width: 60rem) {
	.footer-top-sidebar,
	.footer-sidebar-1 {
		padding: 3rem 0;
		max-width: 45rem;
	}
}

.footer-sidebar-1 img,
.footer-top-sidebar img {
	max-width: 25%;
}

.footer-sidebar-2,
.footer-bottom-sidebar {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 2rem;
	padding-top: 3rem;
	/* margin: 0 -4rem; */
	/* padding: 2rem 0rem; */
	max-width: 100%;
	overflow: hidden;
	/* background: var(--global-header-color); */
	color: white;
}

.footer-sidebar-2 img,
.footer-bottom-sidebar img {
	max-width: 20%;
}
