/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 3rem;
	position: relative;
	font-family: var(--global-font-family);
	font-size: 90%;
}

.widget a {
	/* color: var(--gaya-black); */
}

.widget a:hover,
.widget a:focus,
.widget a:active {
	/* color: var(--gaya-teal-a);
	color: var(--gaya-gold); */
	color: var(--gaya-teal-dk)!important;
}

.widget select {
	width: 100%;
	text-overflow: ellipsis;
}

.widget-title {
	margin-top: 0;
	position: relative;
	font-family: var(--highlight-font-family);
	font-size: 1rem;
	text-transform: uppercase;
}

.widget ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.widget ul.children,
.widget ul.sub-menu {
	margin: 0.5rem 0 -0.5rem 1rem;
}

.widget li {
	line-height: 1.5rem;
	margin: 0;
	padding: 0.5rem 0;
	border-top: 1px solid var(--gaya-grey-disabled);
}

.drawer .widget li:hover,
.drawer .widget li:focus,
.drawer .widget li:active {
	background: var(--gaya-grey-disabled);
	margin-left: -3rem;
	margin-right: -3rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.drawer .widget li ul li:hover,
.drawer .widget li ul li:focus,
.drawer .widget li ul li:active {
	background: transparent;
	margin: 0;
	padding-left: 0rem;
	padding-right: 0rem;
}

.widget ul li ul,
.widget ul li ol,
.widget ol li ul,
.widget ol li ol {
	margin-left: 0.25rem;
}

@media screen and (min-width: 30em) {

	.widget ul li ul,
	.widget ul li ol,
	.widget ol li ul,
	.widget ol li ol {
		margin-left: 0.75rem;
	}
}

/* Archive and Categories widgets */
.widget_archive li,
.widget_categories li {
	color: var(--gaya-teal-dk);
	font-weight: 300;
}

.widget_archive li a,
.widget_categories li a,
.widget_pages li a,
.widget_rss li a,
.widget_meta li a,
.widget_nav_menu li a {
	color: var(--gaya-black);
	font-weight: 400;
}

.widget_archive li a:hover,
.widget_categories li a:hover,
.widget_pages li a:hover,
.widget_rss li a:hover,
.widget_meta li a:hover,
.widget_nav_menu li a:hover,
.widget_archive li a:active,
.widget_categories li a:active,
.widget_pages li a:active,
.widget_rss li a:active,
.widget_meta li a:active,
.widget_nav_menu li a:active,
.widget_archive li a:focus,
.widget_categories li a:focus,
.widget_pages li a:focus,
.widget_rss li a:focus,
.widget_meta li a:focus,
.widget_nav_menu li a:focus,
.widget_recent_comments li a:hover,
.widget_recent_comments li a:focus,
.widget_recent_comments li a:active,
.widget_recent_entries li a:hover,
.widget_recent_entries li a:focus,
.widget_recent_entries li a:active {
	/* border-bottom: 1px solid var(--gaya-teal); */
	box-shadow: 0 2px 0 var(--gaya-teal);
}

.widget_archive li:hover>.post_count,
.widget_archive li:focus>.post_count,
.widget_archive li:active>.post_count,
.widget_categories li:hover>.post_count,
.widget_categories li:focus>.post_count,
.widget_categories li:active>.post_count {
	background: var(--gaya-teal-a);
	color: #ffffff;
}

span.post_count {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: inline-block;
	text-align: center;
	font-size: 80%;
	position: absolute;
	top: 2px;
	padding: 0;
	line-height: 2.3;
	margin-left: 0.5em;
}

/**
 * Better Archives Widget
 */
.widget-archive ul {
	margin: 0;
}

.widget-archive li {
	margin: 0;
	padding: 0;
}

.widget-archive li:hover {
	background: var(--gaya-teal-a);
	color: #ffffff;
}

.widget-archive li:hover a {
	color: #ffffff;
}

li.archive-year {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

li.archive-year .children {
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 80%;
	flex: 0 0 80%;
}

li.archive-year .children li {
	padding: 0px 15px;
	border-left: 1px solid #EFEFF0;
}

li.archive-year .children li:first-child {
	border-top: none;
}

li.archive-year>a {
	/*padding-top: 5px;*/
	font-weight: 600 !important;
	color: #363a3c !important;
	font-family: var(--highlight-font-family);
	text-decoration: none;
	padding-right: 1em;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Pages and Menu widgets
.widget_pages .children,
.widget_nav_menu .sub-menu {
	padding-top: 0;
	padding-bottom: .5em;
}
*/

/* .widget_pages a,
.widget_nav_menu a {
	display: block;
	padding: .6em 0;
	text-decoration: none;
	border-bottom: 1px dashed gray;
}

.widget_pages a:hover,
.widget_pages a:focus,
.widget_nav_menu a:hover,
.widget_nav_menu a:focus {
	text-decoration: none;
	border-bottom: 1px dashed gray;
} */

/* .widget_pages li,
.widget_nav_menu li {
	padding: 0;
}

.widget_pages li ul,
.widget_nav_menu li ul {
	margin-left: 1em;
} */

/* Meta widget */
/* .widget_meta li {
	padding: 0;
} */

/* Recent comments */
/* .widget_recent_comments a:hover,
.widget_recent_comments a:focus {
	padding-left: 0;
} */

/* Recent comments */
.widget_recent_comments .comment-author-link a {
	color: var(--gaya-black);
	font-weight: 600;
}

/* .widget_recent_comments a:hover,
.widget_recent_comments a:focus {
	padding-left: 0;
} */

.widget_recent_comments .post-icon {
	float: left;
	margin-right: 1em;
	width: 40px;
}

.widget_recent_comments .even .excerpt {
	/* margin-left: -20px; */
}

/* Recent Entries (Original WP Recent Posts Widget) */
.widget_recent_entries .post-icon {
	/* width: 220px; */
	height: 160px;
	background-size: cover;
	background-position: center;
}

.widget_recent_entries .entry-meta {
	margin: 0 0 1rem;
	font-size: 0.8rem;
	/* line-height: 1.5; */
}

.widget_recent_entries a {
	color: var(--gaya-grey);
}

.widget_recent_entries .entry-header {
	/* position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.6);
	padding: 1rem;
	color: white; */
}

/* Recent Posts */
.widget_recent_entries ul,
.widget_recent_comments ul {
	margin-left: 0;
}

.widget_recent_entries li,
.widget_recent_comments li {
	margin: 0;
	padding: 0.5rem 0;
	border-top: 1px solid var(--gaya-grey-disabled);
	/* height: 100px; */
}

.widget_recent_entries li a,
.widget_recent_comments li a {
	display: inline-block;
	text-decoration: none;
}

.widget_recent_entries li a:hover,
.widget_recent_entries li a:focus,
.widget_recent_entries li a:active,
.widget_recent_comments li a:hover,
.widget_recent_comments li a:focus,
.widget_recent_comments li a:active {
	color: var(--gaya-teal-a);
}

.widget_recent_entries:before,
.widget_recent_comments:before {
	display: none;
}

/* .widget_recent_entries .even, */
.widget_recent_comments .even {
	/* margin-left: 20px; */
}

.widget_recent_entries .title,
.widget_recent_comments .title {
	color: #1d1f21;
	margin-bottom: 1.5rem;
	line-height: 1.5;
}

.widget_recent_comments .title {
	margin-top: 0rem;
}

.widget_recent_entries .title {
	margin-bottom: 0;
}

.widget_recent_entries .entry-meta {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 100%;
}

.widget_recent_entries .cat-links {
	margin-top: 1rem;
}

.widget_recent_comments .title {
	font-size: 80%;
}

.widget_recent_comments li {
	height: auto;
	color: #878d91;
}

.widget_recent_comments li .comment-meta {
	margin: 0;
	line-height: 1.5;
	font-size: 0.7rem;
}

.widget_recent_comments li a {
	display: inline;

}

.widget_recent_comments li .comment-author-link,
.widget_recent_comments li .comment-author-link a {}

.widget_recent_comments li .excerpt {
	margin: 0;
	font-weight: 300;
	color: var(--global-font-color) !important;
	line-height: 1.8;
	font-size: 0.8rem;
	padding: 0.5rem 0;
}

/* RSS widget */
.widget_rss li {
	padding-bottom: 1rem;
	padding-top: 1rem;
	/* line-height: 1.3em; */
}

.widget li a.rsswidget {
	font-weight: 600;
}

.rsswidget>img {
	float: left;
	margin-right: 5px;
}

.rss-date,
.widget_rss cite {
	color: #333;
	font-size: .8rem;
	display: block;
}

.rssSummary {
	font-family: var(--global-font-family);
	padding: .75rem 0;
	font-size: .8rem;
	line-height: 1.5rem;
}

/* Search widget */
.search-form {
	position: relative;
}

.search-form:after {
	font-family: "Font Awesome 5 Free", "FontAwesome";
	font-weight: 900;
	content: "\f002";
	position: absolute;
	color: gainsboro;
	top: 0;
	right: 0;
	display: block;
	/*width: 100%;*/
	/*height: 100%;*/
	text-align: right;
	padding-right: 5px;
	padding-top: 0.75em;
	z-index: 0;

	display: none;
}

.widget .search-submit {
	display: none;
}

.widget_search .search-form input[type="search"] {
	font-family: var(--highlight-font-family);
	padding: 0.25rem 0rem;
	transition: all 0.3s ease-in-out;
	outline-offset: -2px;
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--gaya-grey5);
	border-radius: 0;
	letter-spacing: 0;
}

.search-form input[type="search"]:hover {
	border-bottom: 1px solid var(--gaya-black);
	outline: none;
}

.search-form input[type="search"]:focus {
	border-bottom: 2px solid var(--gaya-teal-a);
	outline: none;
}

/* Calendar widget */
.widget_calendar {
	font-weight: 400;
}

.widget_calendar caption {
	padding: .5em 0;
	font-size: 1em;
	font-weight: 500;
	text-align: left;
}

.widget_calendar thead {
	background: transparent;
	color: black;
}

.widget_calendar thead th {
	border-bottom-width: 2px;
}

.widget_calendar td {
	padding: .1em;
	font-size: .8em;
	text-align: center;
	/* background: white; */
	/* border: 1px solid #cccccc; */
	height: 28px;
	line-height: 2.4;
}

.widget_calendar td:nth-child(6) {
	color: var(--gaya-blue-dk);
}

.widget_calendar td:nth-child(7) {
	color: var(--gaya-pink-dk);
}

.widget_calendar th {
	border: none;
	text-align: center;
}

.widget_calendar .pad {
	/* background: #eaeaea; */
}

.widget_calendar td a {
	font-weight: 900;
	text-decoration: none;
	background: var(--gaya-gold);
	background: var(--gaya-teal-dk);
	background: var(--gaya-grey-disabled);
	color: var(--gaya-teal-dk);
	border-radius: 30px;
	width: 26px;
	height: 26px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.widget_calendar #today {
	background: var(--gaya-grey-disabled);
	text-align: center;
}

/* Calendar widget */
.widget_calendar {
	font-weight: 400;
	border: none;
}

.widget_calendar table {
	margin: 1.25em 0 auto;
	width: 100%;
	background: #ffffff;
	background: transparent;
	color: var(--gaya-grey);
	position: relative;
	border-radius: 10px;
	border: none;
}

.widget_calendar caption {
	padding: .5rem 0 0;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: left;
	color: #363a3c;
	font-family: "Satisfy", cursive;
	text-align: center;
	line-height: 1.4;

	font-family: "Noto Serif", serif;
	font-style: italic;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.widget_calendar thead {
	background: transparent;
	/* border: 1px solid #EFEFF0; */
	border-bottom: none;
	/*color: black;*/
}

.widget_calendar thead th {
	/* border-bottom-width: 2px; */
	padding: .5em;
}

.widget_calendar tbody {
	/* border-left: 1px solid #EFEFF0;
	border-right: 1px solid #EFEFF0;
	border-bottom: 1px solid #EFEFF0; */
	border-radius: 10px;
}

.widget_calendar tr {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid transparent;
}

.widget_calendar tr:last-child {
	border-bottom: none;
}

.widget_calendar tr:last-child td:first-child,
.widget_calendar tr:last-child td:last-child {
	border-radius: 10px;
}

.widget_calendar td {
	padding: .5em;
	font-size: .8em;
	text-align: center;
	background: #ffffff;
	background: transparent;
	/*border: 1px solid hsl(0, 0%, 80%);*/
	color: #363a3c;
	position: relative;
}

.widget_calendar th {
	border: none;
	text-align: center;
}

.widget_calendar .pad {
	/*background: $color__very_light_gray;*/
	border: none;
}

.widget_calendar a {
	font-weight: 700;
	text-decoration: none;
	/* color: #1d1f21 !important; */
	/* width: 24px; */
	/* height: 24px; */
	display: inline-block;
	transition: all 0.3s;
}

.widget_calendar td a:hover,
.widget_calendar td a:active,
.widget_calendar td a:focus {
	color: #ffffff !important;
	background: var(--gaya-amber-dk);
	background: var(--gaya-teal-dk);
	border: none;
	border-radius: 50%;
}

.widget_calendar tfoot {
	/*background: $color__very_light_gray;*/
	/* border: 1px solid #EFEFF0; */
	border-bottom: none;
	position: absolute;
	width: calc(100% + 1px);
	top: 3px;
	/* border-bottom: 1px solid #eaeaea; */
}

.widget_calendar tfoot tr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	border: none;
}

.widget_calendar tfoot td {
	background: transparent !important;
}

.widget_calendar tfoot a {
	display: inline;
}

.widget_calendar tfoot a:hover,
.widget_calendar tfoot a:active,
.widget_calendar tfoot a:focus {
	/* border-radius: 0%; */
	/* font-style: italic; */
	color: var(--gaya-teal-dk);
	/* -webkit-transform: skewX(14deg);
	transform: skewX(14deg); */
	/* display: table-footer-group; */
}

.widget_calendar #prev {
	position: absolute;
	left: 0;
	top: 10px;
	text-align: left;
	padding: 0;
}

.widget_calendar #next {
	position: absolute;
	right: 0;
	top: 10px;
	text-align: right;
	padding: 0;
}

.widget_calendar #prev a,
.widget_calendar #next a {
	color: initial;
	background: transparent;
	position: relative;
	top: 0;
	left: 0;
	font-weight: normal;
}

.widget_calendar #prev a:hover,
.widget_calendar #prev a:focus,
.widget_calendar #prev a:active,
.widget_calendar #next a:hover,
.widget_calendar #next a:focus,
.widget_calendar #next a:active {
	color: var(--gaya-teal-dk)!important;
}

/* Text widget */
.textwidget {
	font-size: 90%;
	line-height: 1.5rem;
}

.textwidget .wp-caption {
	font-size: 1rem;
}

/* Tag Cloud */
.tagcloud a {
	font-weight: 400;
	line-height: 1.4em;
}

/*--------------------------------------------------------------
# Footer Widgets
--------------------------------------------------------------*/
.site-footer .widget-area {
	font-size: 1rem;
}

.site-footer .widget-title {
	margin-top: 0;
	position: relative;
	font-family: var(--highlight-font-family);
	font-size: 1rem;
	text-transform: uppercase;
	color: var(--gaya-white);
}

.site-footer a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.site-footer li {
	border-color: var(--gaya-grey4);
	border-color: rgba(255,255,255,0.2);
}

.site-footer .widget_archive li a,
.site-footer .widget_categories li a {
	color: rgba(255, 255, 255, 0.6);
}

.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active,
.site-footer .widget_archive li a:hover,
.site-footer .widget_categories li a:hover,
.site-footer .widget_archive li a:active,
.site-footer .widget_categories li a:active,
.site-footer .widget_archive li a:focus,
.site-footer .widget_categories li a:focus {
	color: var(--gaya-teal-dk);
}

.site-footer .widget li:hover,
.site-footer .widget li:focus,
.site-footer .widget li:active {
	background: var(--gaya-grey-disabled);
}

.site-footer .widget li ul li:hover,
.site-footer .widget li ul li:focus,
.site-footer .widget li ul li:active {
	background: transparent;
}

.site-footer .widget_calendar td a {
	background: rgba(255,255,255,0.125);
	color: white;
}
